{% extends "base.html" %}

{% block extra_title %} - Products{% endblock %}

{% block content %}

    <div class="container card-container custom-card">
        <div class="row">
            <div class="col">
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-80 d-flex mob_card flex-column">
                                <a href="{% url 'product_description' product.id %}">
                                    <img src="{{ product.image_url }}" class="card-img-top product-image" alt="{{ product.title }}">
                                </a>
                                <div class="card-body custom-body">
                                    <h2 class="card-title custom-title text-center" style="font-weight: bold;">{{ product.name }}</h2>
                                    <p class="card-text custom_price">Year: {{ product.year }}</p>
                                    <p class="card-text custom_price">Price: £{{ product.price }}</p>
                                    <small class="card-text d-block text-center"><i class="fas fa-star mr-1" style="color: gold !important;"></i>{{ product.rating }} / 5</small>
                                    {% if request.user.is_superuser %}
                                        <small class="ml-3 admin_text">
                                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                        </small>
                                   {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
