{% extends "base.html" %}

{% block extra_title %} - Products{% endblock %}

{% block content %}

    <div class="container card-container custom-card">
        <div class="row">
            <div class="col">
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 d-flex flex-column">
                                <a href="{% url 'product_description' product.id %}">
                                    <img src="{{ product.image_url }}" class="card-img-top product-image" alt="{{ product.title }}">
                                </a>
                                <div class="card-body custom-body">
                                    <h5 class="card-title custom-title" style="font-weight: bold;">{{ product.name }}</h5>
                                    <p class="card-text">Price: £{{ product.price }}</p>
                                    <small class="card-text"><i class="fas fa-star mr-1" style="color: gold !important;"></i>{{ product.rating }} / 5</small>
                                    <!-- Add more details about the product as needed -->
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
